@CHARSET "UTF-8";
.capsule-ui-storage {
    width: 100%;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.capsule-ui-storage-container {
    background-color: #f2f1f0;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 0;
    width: 100%;
    top: 30px;
    overflow: hidden;
}
.capsule-ui-storage-panel {
    background-color: #f2f1f0;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    display: none;
}
.capsule-ui-storage-elements {
    background-color: #f2f1f0;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    border-left: 1px #a4a09d solid;
    border-right: 1px #a4a09d solid;
}
.capsule-ui-storage-el-list {
    background-color: #f2f1f0;
    position: static;
    overflow: hidden;
    padding-top: 14px;
    padding-left: 14px;
    width: 728px;
}
.capsule-ui-storage-uf-container {
    overflow: hidden;
    padding-bottom: 15px;
    width: 728px;
}
.capsule-ui-storage-uf-result {
    overflow: hidden;
    padding-bottom: 15px;
    width: 728px;
    height: 21px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.capsule-ui-storage-uf-result input {
    width: 100%;
    height: 21px;
    line-height: 20px;
    border: 0;
    background: transparent;
}
.capsule-ui-storage-uf-image {
    margin: 0 0 15px 15px;
    display: none;
    position: relative;
}